/*#home {*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%), url(../images/images1.jpeg) no-repeat center center;*/
    /*!*opacity: 0.1;*!*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*position: relative;*/
    /*background-position: 100%;*/
    /*z-index: 1;*/
/*}*/

.about-me {
    padding: 3%;
    background-color: green;
}

.about-me h2 {
    margin-left: 10%;
}

.about-me p {
    color: black;
}

.experience {
    padding: 3%;
    background-color: #1D2F3E;
    color: #D3D3D3;
}