/*#home {*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%), url(../images/images1.jpeg) no-repeat center center;*/
    /*opacity: 0.1;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*position: relative;*/
    /*background-position: 100%;*/
    /*z-index: 1;*/
/*}*/

/*.mynavbar {*/
    /*background-color: #152737;*/
/*}*/

.about-me {
    margin-top: -1.5%;
    padding: 3%;
    /*background-color: green;*/
}

.about-me h2 {
    /*margin-left: 10%;*/
}

.about-me p {
    color: black;
}

.experience {
    padding: 3%;
    background-color: #1D2F3E;
    color: #D3D3D3;
}

.achievement {
    padding: 3%;
    background-color: #0F9FB4;
    color: black;
}

.proficiency {
    padding: 3%;
    background-color: #0FB493;
    color: black;
}

.projects {
    padding: 3%;
    /*text-align: center; #C9E1C1;*/
    /*background-color: #f5f5f5;*/
    color: black;
}

.education {
    padding: 3%;
    background-color: #152737;
    color: #D3D3D3;
}

.more-info {
    padding: 3%;
    background-color: #C9E1C1;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.progress {
    height: 20px;
    /*display: inline-block;*/
}

.progress .skill {
    font: normal 12px "Open Sans Web";
    line-height: 20px;
    padding: 0;
    /*margin: 0 0 0 20px;*/
    text-transform: uppercase;
}
.progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}

.progress-bar {
    text-align: left;
    transition-duration: 3s;
}

.rating {
    /*display: inline-block;*/
}

.star {
    font-size:150%;
    color:gold;
    /*display: inline-block;*/
}

.achievement i {
    font-size: 30px;
}

.projects h2 {
    text-align: center;
    margin-bottom: 3%;
}

.project-name {
    text-align: center;
}

.project-details {
    text-align: justify;
}

.more-info h2 {
    text-align: center;
}