#home {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.6) 100%), url(../images/cover-pic.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
}

.page-header {
    margin-top: 40px;
    margin-bottom: 0;
    opacity: 0.8;
}

#profile-image {
    border-radius: 138px;
}

.projectImg{
    height : 100px;
}
#home i {
    font-size: 36px;
    color: black;
}

#home i:hover {
    color: gainsboro;
    transition: color 0.3s ease;
}

.profile-name {
    font-family: 'Headland One', serif;
}

.profile-tagline {
    font-family: 'Kotta One', serif;
}

.about-me {
    font-family: 'ABeeZee', sans-serif;
    padding: 3%;
    /*background-color: green;*/
}

.about-me h4 {
    line-height: 1.38;
}

.about-me h2 {
    font-family: 'Sahitya', serif;
    /*margin-left: 10%;*/
}

.year {
    font-family: 'Karla', sans-serif;
}

.experience {
    padding: 3%;
    background-color: #1D2F3E;
    color: #D3D3D3;
}

.experience h3 {
    font-family: 'Andika', sans-serif;
}

#cdk-project-work, .experience ul {
    font-family: 'Signika Negative', sans-serif;
}

.experience h4 {
    font-family: 'ABeeZee', sans-serif;
}

.experience h2 {
    font-family: 'Sahitya', serif;
    /*margin-left: 10%;*/
}

.education {
    padding: 3%;
    background-color: #152737;
    color: #D3D3D3;
}

.education h3 {
    font-family: 'Andika', sans-serif;
}

.education h4 {
    font-family: 'ABeeZee', sans-serif;
}

.education h2 {
    font-family: 'Sahitya', serif;
    /*margin-left: 10%;*/
}

.achievement {
    padding: 3%;
    background-color: #0F9FB4;
    color: black;
}

.achievement h2 {
    font-family: 'Sahitya', serif;
}

.achievement i {
    font-size: 30px;
}

.volunteer {
    padding: 3%;
    background-color: #C9E1C1;
    color: black;
}

.volunteer h3 {
    font-family: 'Andika', sans-serif;
}

.volunteer h4 {
    font-family: 'ABeeZee', sans-serif;
}

.volunteer h2 {
    font-family: 'Sahitya', serif;
    /*margin-left: 10%;*/
}

.projects {
    padding: 3%;
    background-color: black;
    color: white;
}

.projects h2 {
    /*text-align: center;*/
    margin-bottom: 3%;
}

.projects img {
    text-align: center;
}

.project-name {
    text-align: center;
    font-family: 'Marko One', serif;
    padding: 10px;
}

#naik-electroman-project-name {
    font-family: 'Marko One', serif;
}

.project-details {
    text-align: justify;
    font-family: 'Andika', sans-serif;
}

.projects h2 {
    font-family: 'Sahitya', serif;
    /*margin-left: 10%;*/
}

.projects .col-lg-4, .col-lg-6 {
    margin : 3%;
}

.proficiency {
    padding: 3%;
    background-color: #0FB493;
    color: black;
    font-family: 'ABeeZee', sans-serif;
}

.proficiency h2 {
    font-family: 'Sahitya', serif;
    /*margin-left: 10%;*/
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.checked {
    font-size: 100%;
    color: gold;
}

.show-more {
    font-family: 'Andika', sans-serif;
    text-align: center;
    cursor: pointer;
}

.show-more:hover {
    color: #1779dd;
}

.show-more-height {
    height: 110px;
    overflow:hidden;
}

.prize-icon {
    display: inline;
}

.prize-description {
    display: inline-block;
    font-size: large;
    font-weight: 600;
    font-family: 'Andika', sans-serif;
}

#cdk-global-icon {
    width: 100%;
    height: 100%;
    padding-top: 30%;
}

.show-more-projects {
    text-align: center;
}

.university-icon {
    width: 80%;
    height: 80%;
    padding-top: 10%;
}

.tool_tech, .proj_title {
    color: #FFF8E1;
}

.proficiency .row .row {
    margin: 10px;
}

#ub-icon {
    width: 115px;
    height: 110px;
    margin-top: 15%;
}

#pict-icon {
    width: 80%;
    height: 80%;
    padding-top: 10%;
}
